
<ion-view view-title="">
  <ion-nav-title>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper" style="height: 30px">
        <i class="icon ion-ios-search placeholder-icon" style="font-size:20px;"></i>
        <input type="search" placeholder="" >
        <!--<button class="button button-clear"-->
                   <!--style="margin-left:-45px; color:#1d0e01;">搜索</button>-->
        <button class="button button-clear" style="color:#1d0e01;margin-left:-25px">搜索</button>
      </label>

      <!--<button class="button button-clear" style="margin-right:-15px; color:#1d0e01;">搜索</button>-->
    </div>
  </ion-nav-title>
</ion-view>
